
#retanguloFundoSeccaoConta{
    width: 327px;
    height: 236px;
    border-radius: 25px;
    background: #F9D65C;
}


#circuloFotoPerfil{
    width: 80px;
    height: 80px;
    fill: #F5F5F7;
    stroke-width: 1px;
    stroke: #6D3E0D;
}

#botaoSeccaoConta{
    display: flex;
    width: 255px;
    height: 32px;
    padding: 13px 21px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background: #FBEAAE;
}

