/* Feito por 53654 */

.tonalidade-container {
    margin: 20px auto; /* O "auto" aqui é o que centra o bloco na página */
    width: 330px;
    height: 240px; /* Ajustei a altura para o novo círculo maior */
    border-radius: 25px;
    background: #F9D65C;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra o círculo e o título horizontalmente */
    padding: 15px 0;
}


.tonalidade-container p {
    margin: 0 0 10px 0; /* Espaço entre o título e o círculo */
    width: 100%;
    padding-left: 20px; /* Alinha o texto à esquerda mantendo o bloco centralizado */
    box-sizing: border-box;
}

.estrutura-container{
  width: 330px;
  height: 80px;
  border-radius: 25px;
  background: #F9D65C;
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
  padding: 10px 0;
  text-align: left;
  align-items: center;
}

.estrutura-container p {
    margin: 0 0 10px 0; 
    width: 100%;
    padding-top: 10px;
    padding-left: 20px; 
    box-sizing: border-box;
    align-items: center;
}


.modulacao-container{
  width: 330px;
  height: 80px;
  border-radius: 25px;
  background: #F9D65C;
  flex-direction: column;  
  justify-content: flex-start;
  padding: 10px 0;
  align-self: center;
  display: flex;
  text-align: left;
  align-items: center;
}

.modulacao-container p {
    margin: 0 0 10px 0; 
    width: 100%;
    padding-left: 20px; 
    box-sizing: border-box;
    align-items: center;
}







/* Circulo de Quintas */

/* Container de grupo para garantir que o hover e seleção funcionam */
.circle-group {
  cursor: pointer;
}

.circle-group.disabled {
    cursor: not-allowed;
    background-color: #c7c7c7; 
    pointer-events: none; /* Isto faz com que o SVG ignore qualquer tentativa de clique */
}

.circle-item.invalid {
    fill: #ccc;
    stroke: #aaa;
}

.circle-label.invalid {
    fill: #ccc;
    stroke: #aaa;
}

.circle-item {
  fill: #ffd746;
  stroke: #6D3E0D;
  stroke-width: 1px;
  transition: all 0.2s ease;
}

/* Hover: Aplicado quando o rato passa no grupo */
.circle-group:hover .circle-item {
  fill: #ffe9a0;
}

/* Selecionado: Especificidade maior sem precisar de !important */
.circle-group .circle-item.selected {
  fill: #d4a715;
  stroke: #985711;
  stroke-width: 3px;
}

.circle-label {
  fill: #6D3E0D;
  pointer-events: none; /* Garante que o texto não "rouba" o clique */
  transition: all 0.2s ease;
}

.circle-group .circle-label.selected {
  font-weight: 900;
  fill: #000;
}