/* Feito por 53654 */

.tonalidade-container {
    margin: 20px auto; 
    width: 330px;
    height: 240px; 
    border-radius: 25px;
    background: #F9D65C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}


.tonalidade-container p {
    margin: 0 0 10px 0; 
    width: 100%;
    padding-left: 20px; 
    box-sizing: border-box;
}

.estrutura-container{
  width: 330px;
  height: 80px;
  border-radius: 25px;
  background: #F9D65C;
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
  padding: 10px 0;
  text-align: left;
  align-items: center;
}

.estrutura-container p {
    margin: 0 0 10px 0; 
    width: 100%;
    padding-top: 10px;
    padding-left: 20px; 
    box-sizing: border-box;
    align-items: center;
}


.modulacao-container{
  width: 330px;
  height: 80px;
  border-radius: 25px;
  background: #F9D65C;
  flex-direction: column;  
  justify-content: flex-start;
  padding: 10px 0;
  align-self: center;
  display: flex;
  text-align: left;
  align-items: center;
}

.modulacao-container p {
    margin: 0 0 10px 0; 
    width: 100%;
    padding-left: 20px; 
    box-sizing: border-box;
    align-items: center;
}







/* Circulo de Quintas */


.circle-group {
  cursor: pointer;
}

.circle-group.disabled {
    cursor: not-allowed;
    background-color: #c7c7c7; 
    pointer-events: none; 
}

.circle-item.invalid {
    fill: #ccc;
    stroke: #aaa;
}

.circle-label.invalid {
    fill: #ccc;
    stroke: #aaa;
}

.circle-item {
  fill: #ffd746;
  stroke: #6D3E0D;
  stroke-width: 1px;
  transition: all 0.2s ease;
}


.circle-group:hover .circle-item {
  fill: #ffe9a0;
}


.circle-group .circle-item.selected {
  fill: #d4a715;
  stroke: #985711;
  stroke-width: 3px;
}

.circle-label {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  fill: #6D3E0D;
  pointer-events: none; 
  transition: all 0.2s ease;
}

.circle-group .circle-label.selected {
  font-weight: 500;
  fill: #000;
}